#
# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "Lesson 4 Exercise 2 config"
config NRFX_PWM_GRTC
	bool "Use GRTC for PWM"
	default n

endmenu
